@page
@model Organico.Vida.Pages.RegisterModel
@{
}

<div onclick="javascript:window.location='/cart';">
    <div class="creative-ops lg">
        <img src="img/top.png" />
        <img src="img/banner.png" />
        <img src="img/middle.png" />
        <img src="img/bottom.png" />
    </div>

    <div class="creative-ops sm">
        <img src="img/middle.png" />
    </div>
</div>